 body{
	font-family: Comfortaa;
	padding: 0;
	margin: 0;
}

.container{
	width: 1200px;
	margin: 0 auto;
}

.tx{

font-family: Comfortaa;
font-style: normal;
font-weight: 300;
font-size: 14px;
position: absolute;
top: 10px;
letter-spacing: 0.3em;
}

#menu1{
right: 500px;
}
#menu2{
right: 410px;
}
#menu3{
right: 250px;
}
.menu a {
color:#000;
  transition: .5s linear;
  padding: 1em;
}
.menu a:hover {color:#FD97A7;}
.menu{
border-bottom: 0.5px double  #FFCAD2;
background: #FFF;
/*background: #F8E3FF;*/
height: 60px;
}

.logo{
	margin-left: 40px;
}

/*.wrapper{
padding-top: 30px;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
height: 600px;
}

.div1 { 
	border-radius: 10px;
	height: 600px;
	width: 355px;
	/*background: #756;
	grid-area: 1 / 1 / 6 / 2; 
	margin-right: 18px;
}
.div2 { 
	border-radius: 10px;
	width: 573px;
	height: 126px;
	/*background: #456;
	grid-area: 1 / 2 / 2 / 5; 
	margin-bottom: 7px;
}
.div3 { 
	border-radius: 10px;
	width: 184px;
	height: 114px;
	/*background: #453;
	grid-area: 2 / 2 / 3 / 3; 
	margin-right: 10px;
	margin-bottom: 8px;
}
.div4 { 
	border-radius: 10px;
	width: 184px;
	height: 114px;
	/*background: #123;
	grid-area: 2 / 3 / 3 / 4; 
	margin-right: 10px;
	margin-bottom: 8px;
}
.div5 { 
	border-radius: 10px;
	width: 184px;
	height: 114px;
	/*background: #321;
	grid-area: 2 / 4 / 3 / 5;
	margin-bottom: 8px; 
}
.div6 {
	border-radius: 10px;
	width: 573px;
	height: 345px;
	/*background: #654;
 	grid-area: 3 / 2 / 6 / 5; 
}
.div7 { 
	border-radius: 10px;
	width: 237px;
	height: 600px;
	/*background: #345;
	grid-area: 1 / 5 / 6 / 6; 
	margin-left: 17px;
}

*/

.btn{
text-decoration: none;
color: #000;
}

.header {
height: 750px;
}

.logo{
	margin-left: 70px;
}

.obo-mne{
	margin-bottom: 100px;
	background: #FFFCFD;
}
#obomne{
padding: 70px;
}

.text{

}
.photo{

width: 260px;
height: 335px;

}


.text-obo-mne{
	font-size: 14pt;
	text-indent: 20px;
}

.section-one{
	padding-top: 30px;
	padding-bottom: 70px;
}

.razdel {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.raz{
background: #FFFFFF;
border: 1px solid #FFF0E4;
box-sizing: border-box;
box-shadow: 0px 0px 6px #FFF0E4;
border-radius: 15px;
width: 290px;
height: 200px;	
padding-top: 98px;
padding: 20px;

}

.raz-title{
	font-size: 22px;
}



.razdel a:hover{
	transition: 1s;
	transform: scale(1.1);

}

.katalog{
	text-decoration: none;
	color: #000;
}





.credits{
	text-align: center;
	font-size: 10px;
}

.footer {
	background:  #FEE7D5;
	padding: 20px 0px;
}


@media screen and (max-width:1200px) {
	.container{
		width: 960px;
	}
	.offer{
		width: auto;
	}
	.intro {
		width: auto;
	}
	
}

@media screen and (max-width:992px) {
	.container{
		width: 720px;
	}
	.wrapper{
		flex-direction: column;
	}
	.offer{
		width: 100%;
	}
	.intro {
		width: 100%;
	}
	.desktop{
		display: block;
		width: 641px;
		margin: 70px auto 0;
	}
	.times{
		flex-direction: column;
	}
	.time{
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.p-text{
		width: auto;
	}

}

@media screen and (max-width:768px) {
	.container{
		width: 540px;
	}
	.desktop{
		width: 100%;
	}
}

@media screen and (max-width:576px) {
	
	.container{
		width:300px ; 	
	}
	.input{
		width: 100%;
	}
	.form{
		align-content: center;
		width: 90%;
	}
	.btn-form{
		width: 100%;
	}
	.section-two{
		margin: 0 auto;
		width: 100%;
	}

}